@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Chakra+Petch:wght@300;400&family=IBM+Plex+Mono:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
#nav {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 80px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
}
.profilelogo {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 3px;
  margin: 5px;
  margin-right: 0px;
}
ul {
  display: block;
  align-items: center;
  float: right;
}
li {
  display: inline-block;
  font-size: 40px;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
ul li a {
  text-decoration: none;
}
ul li a:hover {
  color: rgb(211, 28, 224);
  text-decoration: underline;
}

.firstdiv {
  margin: 10px 1px 10px 1px;

  padding: 4px;
  display: flex;
  background-color: azure;
}
#logo {
  align-items: center;
  flex-wrap: wrap;
  margin-right: 100px;
}
.div1 {
  height: 300px;
  width: 700px;
  display: inline;

  /* align-items:center ; */
  justify-content: center;
  margin: 4px;
  color: rgb(111, 27, 154);
  text-align: center;
}
.divpara {
  font-family: "Chakra Petch", sans-serif;
  margin: 10px;
  font-size: 4rem;
  justify-content: center;
  text-align: center;
}
.para1 {
  font-size: 5vh;
  font-family: "IBM Plex Mono", monospace;
  display: block;
  justify-content: center;
  text-align: center;
}
.para2 {
  display: block;
  font-size : 2rem;
  color: black;
  background-color: rgb(227, 233, 237);
  text-align: center;
}
.container {
  background-color: whitesmoke;
  border: 2px solid aliceblue;
}
.box {
  background-color: white;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.box-img {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 10px;
}
.head {
  text-align: center;
  display: block;
  font-size: 33px;
  padding-left: 50px;
  color: black;
  background-color: rgba(225, 223, 223, 0.782);
}
.body {
  background-color: rgb(227, 233, 237);
  font-family: 'Baloo Bhai 2', cursive;
  display: flex;
  font-size: 25px;
  padding-left: 50px;
  color: black;
  text-align: center;
}

.footer {
  height: 600px;
  margin: 10px;
  background-color: black;
  display: grid;
  row-gap: 10px;
}
.foot {
  display: block;
  padding-left: 10px;
  color: aliceblue;
  grid-row: 1/3;
  margin: 10px;
}
.foot h3 {
  font-size: 27px;
}
.sp {
  display: block;
  font-size: 20px;
}
.fa {
  background-color: white;
  padding: 10px;
  font-size: 40px;
  width: 20px;
  text-decoration: none;
  margin: 5px 5px;
}
.fa-facebook {
  background-color: blue;
  color: aliceblue;
}
.fa-instagram {
  background-color: #e95950;
  color: white;
}
.foot a {
  
  margin: 5px;
  width: 20px;
  font-size: 25px;
  text-decoration: none;
  display: block;
  color: snow;
  padding-bottom: 10px;
}
.foot a :hover {
  color:purple;
  background-color: rgb(225, 225, 225);
  text-decoration: underline;
}
.copyright {
  color: white;
}
